<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="icon" href="images/incon.svg" type="image/svg+xml">
    <script src="/scripts/script.js" async></script>
    <title>DotaTrack | Not Found</title>
</head>
<body>
    <section class="box-player">
        <div class="card-player">
            <form class="form-tohome" action="/" method="get">
                <button class="btn-tohome" type="submit">
                    <img class="img-btn-tohome" src="/images/icon-close-blue.png">
                </button>
            </form>
            <span class="error-title">Not found :(</span>
            <span class="error-text">No such player/team was found. Try again!</span>
        </div>
    </section>
</body>
</html>