@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* ANIMATIONS 
____________________________________________________*/

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(-5%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* RESET STYLES 
____________________________________________________*/

*{
    margin: 0;
	padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    place-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: aliceblue;
    background-color: #002d32;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}
   
button, input {
    border: none;
    background: none;
    outline: none;
    color: inherit;
}

input::placeholder {
    color: rgba(240, 248, 255, 0.5);
}

/* PLAYER BOX 
____________________________________________________*/

.box-player, .box-team {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 800px;
    height: 80%;
}

.card-player, .card-team {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 50%);
    width: 80%;
    max-width: 600px;
    height: 100%;
    border-radius: 40px;
    background-color: aliceblue;
    color: aliceblue;
    box-shadow: 0px 0px 20px 0px #000e0f;
}

.form-tohome {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-self: flex-end;
    margin: 5%;
    width: 20px;
    height: 20px;
}

.btn-tohome {
    width: 100%;
    height: 100%;
}

.img-btn-tohome {
    width: 100%;
    height: 100%;
}

.img-player, .img-team {
    display: flex;
    grid-row: 1;
    grid-column: 1;
    border-radius: 30px;
    place-self: center;
    width: 65%;
    max-width: 350px;
    aspect-ratio: 1/1;
}

.box-info {
    display: flex;
    flex-wrap: wrap;
    place-self: center;
    width: 80%;
    height: 100%;
    flex-direction: column;
    border-radius: 30px 30px 0 0;
    background-color: #006469;
}

.box-info > .container {
    margin: 3%;
}

.container {
    align-self: center;
    width: 90%;
}

.steam-link {
    text-decoration: underline;
}

.title {
    font-weight: 600;
}

/* ERROR BOX 
____________________________________________________*/

.error-title, .error-text {
    grid-row: 1;
    grid-column: 1;
    color: black;
    place-self: center;
}

.error-title {
    align-self: end;
    font-size: 40px;
    font-weight: 600;
}

.error-text {
    grid-row: 2;
    margin: 5%;
    align-self: start;
    text-align: center;
    font-size: 25px;
}

/* MEDIA QUERIES 
____________________________________________________*/

@media screen and (400px >= width) {
    .title, .text {
        font-size: 0.75rem;
    }

    .error-title {
        font-size: 30px;
    }
    
    .error-text {
        font-size: 15px;
    }
    
}

@media screen and (700px >= width >= 400px) {
    .img-player, .img-team {
        max-width: 250px;
    }

    .error-title {
        font-size: 30px;
    }
    
    .error-text {
        font-size: 20px;
    }
}

@media screen and (width >= 700px) {
    .img-player, .img-team {
        max-width: 275px;
    }
}